{{- $hash := include .chezmoi.sourceFile | sha256sum -}}

function fish_repath
  set -U -e fish_user_paths fish_path_hash
  source (status current-filename)
end

if not set -q fish_path_hash; or test $fish_path_hash != {{ $hash }}
  status is-interactive; and echo '✅ [fish] Setting default PATH...' >&2

  
  # homebrew
  fish_add_path -m $HOMEBREW_PREFIX/{bin,sbin}

  #asdf
  fish_add_path -m $ASDF_DATA_DIR/shims
  fish_add_path -ma $ASDF_DIR/bin

  # cleanup
  set -U fish_path_hash {{ $hash }}
end