{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
{{- if eq .chezmoi.os "linux" -}}
#!/home/linuxbrew/.linuxbrew/bin/fish

set fish /home/linuxbrew/.linuxbrew/bin/fish
{{- else if eq .chezmoi.os "darwin" -}}
#!/opt/homebrew/bin/fish

set fish /opt/homebrew/bin/fish
{{ end }}

set username {{ quote .chezmoi.username }}

function getshell
  if is_macos
    dscl . read "/Users/$username" UserShell | string replace -r '^UserShell: (.*)' '$1'
  else
    getent passwd $username | string replace -r '.*:([^:]+)$' '$1'
  end
end
function setshell -a shell
  if is_macos
    sudo dscl . create "/Users/$username" UserShell $shell
  else
    sudo usermod -s $shell $username
  end
end

if test (getshell) != $fish
  if not string match -eq $fish < /etc/shells
    echo "🔁  Adding $fish to /etc/shells..."
    printf '%s\n' "$fish" | sudo tee -a /etc/shells >/dev/null
  end

  setshell $fish
  echo "✅  [fish] Changing login shell to $fish..."
end
{{- end -}}