{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -e # -e: exit on error

if [ ! "$(command -v brew)" ]; then

echo -e "==> [homebrew] installing ..."
export NONINTERACTIVE=1
bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
echo -e "✅  [homebrew] installed!"

fi
{{ end -}}
